.news-page {
  display: flex;
  justify-content: center;

  &__left-column {
    height: 100vh;
    width: 20%;
    background-color: white;
    position: fixed;
    left: 0;
    margin: 2rem 0 2rem 8%;
    z-index: 30;

    @media (max-width: 900px) {
      display: none;
    }
  }

  &__middle-column {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem 2rem;
    position: relative;

    @media (max-width: 900px) {
      width: 60%;
    }

    @media (max-width: 750px) {
      width: 70%;
    }

    @media (max-width: 650px) {
      width: 80%;
    }

    @media (max-width: 550px) {
      width: 90%;
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: gray;
    }

    &__title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        position: relative;

        b {
            background-color: #f0f0f0;
            padding: 0 1rem;
            color: rgb(61, 61, 61);
        }

        &__line {
            width: 100%;
            height: 2px;
            background-color: rgb(61, 61, 61);
            position: absolute;
            top: 50%;
            z-index: -1;
        }
    }

    &__spinner {
      position: fixed;
      background-color: #f0f0f08a;
      z-index: 20;
      width: 100%;
      left: 0;
      top: 0;
    }

    &__spinner-stop {
      display: none;
    }
  }

  &__right-column {
    height: 100vh;
    width: 20%;
    background-color: white;
    position: fixed;
    right: 0;
    margin: 2rem 8% 2rem 0; 
    z-index: 30;

    @media (max-width: 900px) {
      display: none;
    }
  }
}
