.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    border: none;
    cursor: pointer;
  }

  transition: 0.25s all ease-in-out;

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }

  &__nav-bar-btn {
    background-color: transparent;
    border-radius: 5px;
    padding: 0.5rem 3rem;
    font-size: 1.5rem;
    border: solid 2px $color-white;
    color: $color-white;
    position: relative;

    &:hover {
      background-color: $color-white;
      color: $color-dark;
    }
  }

  
}
